html {
  min-height: 100%;
  position: relative;
}

body {
  line-height: 1.25rem;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
}

@media (max-width: 1025px) {
  .container {
    max-width: 95%;
  }
}
